[Unit]
Description=Asistente Q&A sobre PDFs (Flask + Cohere)
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/castudillo-alura-project
EnvironmentFile=/home/opc/castudillo-alura-project/.env
ExecStart=/home/opc/castudillo-alura-project/venv/bin/gunicorn --bind 0.0.0.0:8000 --workers 2 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
